.logo
{
text-align: center ;
}
.page
{
background-image: url(./pink-easter-car-with-red-egg.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
background-attachment: scroll;
justify-content: left;
display: flex;
}
form
{
font-size: large;
text-decoration: white;
text-align: center;
padding: 18%;
background-image: url(./7ccb010d8fddc4bcd84587ef3c34d100.jpg);
margin:  10px;
padding: 20px ;
border-radius: 5%;
text-align: center;
}
input
{
    padding: 10%;
}
